
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000;
  color: #fff;
  cursor: url('https://cdn.custom-cursor.com/128/assets/arrows/32/Cursoji_-_Alien_Cursor.png'), auto;
}

button,
a,
[class*="cursor-pointer"] {
  cursor: url('https://cdn.custom-cursor.com/128/assets/pointers/32/Cursoji_-_Alien_Cursor.png'), pointer;
}



